@font-face {
  font-family: "TT Firs Neue";
  src: url("../../fonts/NNFirsNeue/TTFirsNeue-Regular.eot");
  src: local("TT Firs Neue Regular"), local("TTFirsNeue-Regular"), url("../../fonts/NNFirsNeue/TTFirsNeue-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/NNFirsNeue/TTFirsNeue-Regular.woff2") format("woff2"), url("../../fonts/NNFirsNeue/TTFirsNeue-Regular.woff") format("woff"), url("../../fonts/NNFirsNeue/TTFirsNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url("../../fonts/NNFirsNeue/TTFirsNeue-DemiBold.eot");
  src: local("TT Firs Neue DemiBold"), local("TTFirsNeue-DemiBold"), url("../../fonts/NNFirsNeue/TTFirsNeue-DemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/NNFirsNeue/TTFirsNeue-DemiBold.woff2") format("woff2"), url("../../fonts/NNFirsNeue/TTFirsNeue-DemiBold.woff") format("woff"), url("../../fonts/NNFirsNeue/TTFirsNeue-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url("../../fonts/NNFirsNeue/TTFirsNeue-Bold.eot");
  src: local("TT Firs Neue Bold"), local("TTFirsNeue-Bold"), url("../../fonts/NNFirsNeue/TTFirsNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/NNFirsNeue/TTFirsNeue-Bold.woff2") format("woff2"), url("../../fonts/NNFirsNeue/TTFirsNeue-Bold.woff") format("woff"), url("../../fonts/NNFirsNeue/TTFirsNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url("../../fonts/NNFirsNeue/TTFirsNeue-Medium.eot");
  src: local("TT Firs Neue Medium"), local("TTFirsNeue-Medium"), url("../../fonts/NNFirsNeue/TTFirsNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/NNFirsNeue/TTFirsNeue-Medium.woff2") format("woff2"), url("../../fonts/NNFirsNeue/TTFirsNeue-Medium.woff") format("woff"), url("../../fonts/NNFirsNeue/TTFirsNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"), url("../../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"), url("../../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../../fonts/Gilroy/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy/Gilroy-Semibold.woff2") format("woff2"), url("../../fonts/Gilroy/Gilroy-Semibold.woff") format("woff"), url("../../fonts/Gilroy/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2"), url("../../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy/Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"), url("../../fonts/Gilroy/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Gilroy/Gilroy-Extrabold.woff2") format("woff2"), url("../../fonts/Gilroy/Gilroy-Extrabold.woff") format("woff"), url("../../fonts/Gilroy/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 767px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1199px;
  }
}
@media screen and (min-width: 1480px) {
  .container {
    max-width: 1480px;
  }
}

.title {
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  background: linear-gradient(103.85deg, #f33f5e 0%, #fa8550 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-black {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #111a45;
}

.text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #6e748e;
}

.advantages-content {
  text-align: center;
  margin-bottom: 40px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
}
@media screen and (min-width: 1024px) {
  .advantages__list {
    justify-content: space-between;
  }
}

.advantages__item {
  width: 380px;
}

.advantages__item-img img {
  width: 60px;
}

.advantages__title {
  margin: 12px 0;
}

.how-work-content {
  text-align: center;
  background-color: #fff7f8;
  border-radius: 30px 30px 0 0;
}
@media screen and (min-width: 1024px) {
  .how-work-content {
    border-radius: 50px 50px 0 0;
  }
}

.how-work-content__bottom-text {
  font-family: "TT Firs Neue";
  font-size: 22px;
  line-height: 1.27;
}

.how-work__item {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .how-work__item {
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.big__img {
  max-width: 421px;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .big__img {
    margin-right: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .how-work__item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .how-work__item:nth-child(even) .big__img {
    margin-right: 0;
    margin-left: 100px;
  }
}

.how-work__item:nth-child(1) {
  background-color: #fff7f8;
  padding-bottom: 50px;
}

.how-work__item:nth-child(2) {
  position: relative;
  top: -45px;
  padding-bottom: 50px;
  border-radius: 50px 50px 0 0;
  background-color: #eae9fb;
}

.how-work__item:nth-child(3) {
  position: relative;
  top: -90px;
  border-radius: 50px 50px 50px 50px;
  background-color: #e5fbf1;
}

.how-work__content {
  width: 770px;
}

.how-work__text-top {
  font-family: "TT Firs Neue";
  font-size: 20px;
  line-height: 26px;
  color: #f33f5e;
}

.how-work__title {
  font-family: "TT Firs Neue";
  font-size: 28px;
  margin-top: 6px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .how-work__title {
    font-size: 36px;
  }
}

.how-work__text-bottom {
  font-family: "TT Firs Neue";
  font-size: 17px;
  line-height: 1.5;
  color: #111a45;
  margin-bottom: 10px;
}

.technology {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .technology {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.technology-container {
  display: flex;
  flex-wrap: wrap;
}
.technology-list-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 22px;
}
@media screen and (min-width: 1200px) {
  .technology-list-img {
    margin-right: 150px;
  }
}
.technology-list {
  display: flex;
  flex-direction: row;
  gap: 22px;
}
@media screen and (min-width: 1200px) {
  .technology-list {
    flex-direction: column;
  }
}
.technology-list:first-child {
  text-align: -webkit-right;
}

.shopping {
  position: relative;
  align-items: end;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .shopping {
    display: block;
  }
}

.girl {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 80%;
}

.market {
  position: relative;
}

.bcgs {
  position: absolute;
  left: -50%;
  top: 0;
  transform: translate(50%, -50%);
  z-index: -1;
}

.man {
  position: relative;
}

.bcgl {
  position: absolute;
  right: -50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: -1;
}

.technology-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  padding-top: 50px;
  width: 560px;
}

.technology-content__title {
  text-align: start;
  margin-bottom: 16px;
}

.technology-content__text {
  font-family: "TT Firs Neue";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: #111a45;
}

.technology-content__text-bottom {
  font-family: "TT Firs Neue";
  font-style: normal;
  font-size: 17px;
  line-height: 1.5;
  color: #111a45;
}/*# sourceMappingURL=main.css.map */