.advantages-content {
  text-align: center;
  margin-bottom: 40px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  @media screen and (min-width: 1024px) {
    justify-content: space-between;
  }
}

.advantages__item {
  width: 380px;
}
.advantages__item-img img {
  width: 60px;
}
.advantages__title {
  margin: 12px 0;
}
