.advantages-content {
  text-align: center;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}

.advantages__item {
  width: 380px;
}
.advantages__item-img img {
  width: 60px;
}
.advantages__title {
  margin: 12px 0;
}
