.technology {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.pic-list {
}
.pic-list__item {
}

.technology-content {
}
.technology-content__title {
}
.title {
}

.technology-content__bottom-text {
}
.bottom-text {
}
.technology-content__text {
}
