.technology {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &-container {
    display: flex;
    flex-wrap: wrap;
  }
  &-list-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 22px;
    margin-right: 150px;
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
    &:first-child {
      text-align: -webkit-right;
    }
  }
  &-list__item img {
    width: unset;
  }
}
.shopping {
  position: relative;
}
.girl {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.technology-content__title {
  text-align: start;
  margin-bottom: 16px;
}
.technology-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  padding-top: 50px;
  width: 560px;
}

.technology-content__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: #111a45;
}
.technology-content__text-bottom {
  font-family: "TT Firs Neue";
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  color: #111a45;
}
