.technology {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.technology-container {
}
.technology-list {
}
.technology-list__item img {
}

.technology-content__title {
  text-align: start;
}
.technology-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.technology-content__bottom-text {
}
.bottom-text {
}
.technology-content__text {
}
