.title {
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  background: linear-gradient(103.85deg, #f33f5e 0%, #fa8550 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-black {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #111a45;
}
